.Main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}
#main1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 370px;
    width: 550px;
    background: #e7e7e7;
    border: 2px solid black;
    border-radius: 5px;
}
.a{
    height: 110px;
    width: 538px;
    margin-top: 5px;
    margin-left: 5px;
    background: #d8d8d8;
    text-align: center;
    box-sizing: border-box;
    padding-top: 40px;
}
.many{
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 5px;
}
.B{
    height: 110px;
    width: 400px;
    background: #d8d8d8;
    text-align: center;
    box-sizing: border-box;
    padding-top: 40px;
}
.little{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 120px;
}
.little1{
    height: 117px;
    width: 128px;
    background: #d8d8d8;
    text-align: center;
    box-sizing: border-box;
    padding-top: 40px;
}
.little2{
    height: 117px;
    width: 128px;
    background: #d8d8d8;
    text-align: center;
    box-sizing: border-box;
    padding-top: 40px;
}
.little3{
    height: 117px;
    width: 128px;
    background: #d8d8d8;
    text-align: center;
    box-sizing: border-box;
    padding-top: 40px;
}
.right{
    display: flex;
    justify-content: space-evenly;
    height: 237px;
    width: 128px;
    background: #d8d8d8;
    text-align: center;
    box-sizing: border-box;
    padding-top: 100px;
    margin-top: 5px;
    margin-right: 6px;
}